@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

/*  start navigation   */
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6) !important;
}
.navbar-brand img {
  height: 2rem;
  border-radius: 4px;
}
.navbar-nav li {
  padding-right: 0.7rem;
}
.navbar-dark .navbar-nave .nav-link {
  color: white;
  padding-top: 0.8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}
/* end of navigation */

/* start footer */
footer {
  background-color: #40474e;
  color: white;
  padding: 2rem 0 0 2rem;
  margin-top: 1rem;
}
footer img {
  height: 5rem;
  margin: 1.5rem 0;
}
footer a {
  color: white;
}
footer a:hover {
  color: orange;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin-left: 1.2rem 0.5rem 0 0;
}
hr.socket {
  width: 100%;
}
.hamada {
  margin-left: 1rem;
}
/* end footer */

/* start landing page */
.home-inner {
  background-image: url("/assets/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 900px;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: black;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
  color: #4995ba;
}

.caption h3 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem, normal;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
  color: #3fb2eb;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding-left: 0.6rem 1.3rem;
  font-size: 1.1rem;
}
/* end landing page */

/* start DESCRIPTION */

.lead {
  letter-spacing: 0.1rem;
  padding: 2%;
  color: black;
  line-height: 3rem;
}

.titledesc {
  color: black;
}

.horiz {
  width: 10%;
  border: 1.5px solid #409999;
}

/* end DESCRIPTION */
